pcomp/*.s
progs/*.s
lib/stdlib.s
tests/*.s
examples/*.s
!runtime.s
*.o
*.exe
*.bin
*.sym
*.swp
*.prog
*.out
*.dis
*.sasmout
*.lib
*.img
*.mem
*.lsym
*.zip
go.sum
sine.pas
graph1.pas
graph2.pas
chase.pas
pcomp/libgen
pcomp/lsymgen
pcomp/pcomp
pcomp/sasm
pcomp/sdis
tridoraemu/tridoraemu
**/tridoracpu.cache/
**/tridoracpu.hw/
**/tridoracpu.ip_user_files/
**/tridoracpu.runs/
*.log
*.jou
**/mig_dram_0/_tmp/*
**/mig_dram_0/doc/*
**/mig_dram_0/mig_dram_0*
**/mig_dram_0/xil_txt.*
**/mig_dram_0/*.veo
**/mig_dram_0/*.tcl
**/mig_dram_0/*.xml
**/mig_dram_0/*.v
**/mig_dram_0/*.vhdl
